html {
  font-size: 62.5%;
  font-family: sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Helvetica Nueue", Arial, Verdana, sans-serif;
  background-color: #e5e9ed;
  line-height: 1.428571429;
  color: #333;
  margin: 0;
}

img {
  vertical-align: middle;
  border: 0;
}
.img-circle {
  border-radius: 50%;
}

.text-center {
  text-align: center;
}

button {
  margin: 0;
  text-transform: none;
  cursor: pointer;
  -webkit-appearance: button;
  font-family: inherit;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}
.row::before,
.row::after {
  display: table;
  content: " ";
}

.column {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 1200px) {
  .column {
    width: 100%;
  }
}
